testing jupyter notebook for UP class

In [1]:
import numpy as np
import pandas as pd
from mlfinlab.online_portfolio_selection import *

/Users/alexkwon/opt/anaconda3/envs/ht/lib/python3.6/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.bagging module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
/Users/alexkwon/opt/anaconda3/envs/ht/lib/python3.6/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

Support us on Patreon: https://www.patreon.com/HudsonThames

MlFinLab needs you! We need your help for us to keep on maintaining and implementing academic research based on
financial machine learning (for open-source). In order for us to continue we need to raise $4000 of monthly donations
via Patreon - by December 2020. If we can't reach our goal, we will need to adopt more of a paid for service. We thought
that the best and least impactful course of action (should we not reach our goal) is to leave the package as open-source
but to make the documentation (ReadTheDocs) a paid for service. This is the ultimate litmus test, if the package is a
value add, then we need the community to help us keep it going.

Our road map for 2020 is to implement the text book: Machine Learning for Asset Managers by Marcos Lopez de Prado,
as well as a few papers from the Journal of Financial Data Science. We are hiring a full time developer for 3 months
to help us reach our goals. The money that you, our sponsors, contribute will go directly to paying salaries and other
expenses such as journal subscriptions and data.

We need your help to continue maintaining and developing this community. Thank you for using our package and we
invite you to join our slack channel using the following link:
https://join.slack.com/t/mlfinlab/shared_invite/zt-c62u9gpz-VFc13j6da~UVg3DkV7~RjQ

In [2]:
stock_prices = pd.read_csv('../../tests/test_data/stock_prices.csv', parse_dates=True, index_col='Date')
stock_prices = stock_prices.dropna(axis=1)
asset_name = list(stock_prices.columns)

In [3]:
idx = stock_prices.index
name = stock_prices.columns

In [4]:
up = UP(1000)
up.allocate(name,stock_prices)

In [5]:
up.all_weights

,EEM,EWG,TIP,EWJ,EFA,IEF,EWQ,EWU,XLB,XLE,...,XLU,EPP,FXI,VGK,VPL,SPY,TLT,BND,CSJ,DIA
Date,,,,,,,,,,,,,,,,,,,,,
2008-01-02,0.044023,0.044533,0.043514,0.043713,0.044410,0.042895,0.041744,0.043393,0.042775,0.043778,...,0.044777,0.042248,0.043601,0.044469,0.042788,0.043675,0.042796,0.042585,0.044462,0.044348
2008-01-03,0.044023,0.044533,0.043514,0.043713,0.044410,0.042895,0.041744,0.043393,0.042775,0.043778,...,0.044777,0.042248,0.043601,0.044469,0.042788,0.043675,0.042796,0.042585,0.044462,0.044348
2008-01-04,0.044030,0.044530,0.043515,0.043714,0.044410,0.042895,0.041742,0.043396,0.042786,0.043785,...,0.044775,0.042248,0.043595,0.044471,0.042788,0.043673,0.042794,0.042584,0.044461,0.044346
2008-01-07,0.044019,0.044527,0.043526,0.043708,0.044405,0.042908,0.041739,0.043392,0.042777,0.043770,...,0.044794,0.042241,0.043592,0.044467,0.042785,0.043667,0.042806,0.042595,0.044475,0.044347
2008-01-08,0.044021,0.044526,0.043523,0.043702,0.044405,0.042907,0.041743,0.043393,0.042767,0.043766,...,0.044806,0.042247,0.043609,0.044465,0.042784,0.043666,0.042807,0.042594,0.044475,0.044345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-27,0.043820,0.044307,0.043665,0.043624,0.044180,0.043181,0.041392,0.043086,0.042885,0.043740,...,0.044898,0.042091,0.043365,0.044119,0.042613,0.043871,0.043266,0.042686,0.044632,0.044565
2016-06-28,0.043817,0.044299,0.043674,0.043627,0.044174,0.043194,0.041386,0.043069,0.042870,0.043726,...,0.044915,0.042084,0.043368,0.044110,0.042616,0.043866,0.043291,0.042695,0.044644,0.044566
2016-06-29,0.043825,0.044302,0.043665,0.043627,0.044180,0.043183,0.041394,0.043085,0.042865,0.043733,...,0.044906,0.042090,0.043374,0.044120,0.042617,0.043868,0.043280,0.042686,0.044631,0.044563
2016-06-30,0.043835,0.044303,0.043657,0.043628,0.044184,0.043173,0.041397,0.043094,0.042868,0.043738,...,0.044899,0.042093,0.043379,0.044125,0.042617,0.043871,0.043267,0.042678,0.044622,0.044564
2016-07-01,0.043834,0.044305,0.043652,0.043617,0.044188,0.043167,0.041403,0.043104,0.042872,0.043735,...,0.044906,0.042098,0.043382,0.044132,0.042611,0.043874,0.043261,0.042673,0.044615,0.044565

In [6]:
up.portfolio_return

            Relative Returns
Date
2008-01-02          1.000000
2008-01-03          1.002026
2008-01-04          0.984526
2008-01-07          0.986779
2008-01-08          0.977530
...                      ...
2016-06-27          1.019420
2016-06-28          1.037105
2016-06-29          1.049698
2016-06-30          1.060867
2016-07-01          1.063186

[2141 rows x 1 columns]