In [51]:
import numpy as np
import pandas as pd

In [52]:
# initialize names
asset_name = ['A','B']
people_name = ['P1','P2']
# initialize two random assets
random_asset = np.array([[1,1],[2,1],[1,2],[4,1]])
pd.DataFrame(random_asset, columns=asset_name)

   A  B
0  1  1
1  2  1
2  1  2
3  4  1

In [53]:
# calculate relative price difference
price_diff = np.array(pd.DataFrame(random_asset).pct_change().fillna(0)) + 1
pd.DataFrame(price_diff, columns=asset_name)

     A    B
0  1.0  1.0
1  2.0  1.0
2  0.5  2.0
3  4.0  0.5

In [54]:
# constant weight allocation for person 1 and person 2
w1, w2 = np.array([.5,.5]), np.array([.75,.25])
w = np.array([w1,w2]).T
pd.DataFrame(w, index=asset_name, columns=people_name)

    P1    P2
A  0.5  0.75
B  0.5  0.25

In [55]:
# portfolio growth for each person
portfolio_growth = np.dot(price_diff,w)
pd.DataFrame(portfolio_growth, columns=people_name)

     P1     P2
0  1.00  1.000
1  1.50  1.750
2  1.25  0.875
3  2.25  3.125

In [56]:
# cumulative portfolio growth for each person
cum_portfolio_growth = portfolio_growth.cumprod(axis=0)
pd.DataFrame(cum_portfolio_growth, columns=people_name)

        P1        P2
0  1.00000  1.000000
1  1.50000  1.750000
2  1.87500  1.531250
3  4.21875  4.785156

In [57]:
# cumulative starting weights for time[t] is column[t-1]'s weights
cumulative_weight = np.apply_along_axis(lambda x: x/np.sum(x),0,np.dot(w, cum_portfolio_growth.T))
cumulative_weight = np.hstack((cumulative_weight[:,[0]], cumulative_weight))
pd.DataFrame(cumulative_weight, index=asset_name)

       0      1         2         3         4
A  0.625  0.625  0.634615  0.612385  0.632863
B  0.375  0.375  0.365385  0.387615  0.367137