## Notebook to test for Random Things

In [14]:
import numpy as np
import pandas as pd
from mlfinlab.online_portfolio_selection import *
#from mlfinlab.online_portfolio_selection.BAH import BAH

In [15]:
stock_prices = pd.read_csv('../tests/test_data/stock_prices.csv', parse_dates=True, index_col='Date')
stock_prices = stock_prices.dropna(axis=1)
asset_name = list(stock_prices.columns)

In [24]:
corrs = np.log(stock_prices.pct_change().fillna(0) + 1).rolling(30).corr(pairwise=True)

In [29]:
corrs

                     EEM       EWG       TIP       EWJ       EFA       IEF  \
Date
2008-01-02 EEM       NaN       NaN       NaN       NaN       NaN       NaN
           EWG       NaN       NaN       NaN       NaN       NaN       NaN
           TIP       NaN       NaN       NaN       NaN       NaN       NaN
           EWJ       NaN       NaN       NaN       NaN       NaN       NaN
           EFA       NaN       NaN       NaN       NaN       NaN       NaN
...                  ...       ...       ...       ...       ...       ...
2016-07-01 SPY  0.887533  0.874043 -0.285007  0.748397  0.884234 -0.734890
           TLT -0.633093 -0.700104  0.655311 -0.664188 -0.697854  0.935636
           BND -0.429964 -0.551775  0.773226 -0.481631 -0.529269  0.942547
           CSJ  0.003149 -0.112210  0.550104 -0.077881 -0.074172  0.462834
           DIA  0.888516  0.885373 -0.275257  0.749922  0.901419 -0.733267

                     EWQ       EWU       XLB       XLE  ...       XLU  \
Date                                                    ...
2008-01-02 EEM       NaN       NaN       NaN       NaN  ...       NaN
           EWG       NaN       NaN       NaN       NaN  ...       NaN
           TIP       NaN       NaN       NaN       NaN  ...       NaN
           EWJ       NaN       NaN       NaN       NaN  ...       NaN
           EFA       NaN       NaN       NaN       NaN  ...       NaN
...                  ...       ...       ...       ...  ...       ...
2016-07-01 SPY  0.873752  0.887190  0.878980  0.825917  ...  0.122981
           TLT -0.681747 -0.705674 -0.718935 -0.748328  ...  0.321664
           BND -0.526687 -0.536360 -0.527794 -0.633902  ...  0.426310
           CSJ -0.088364 -0.055749  0.025536  0.000526  ...  0.251750
           DIA  0.888960  0.912277  0.894340  0.807096  ...  0.117010

                     EPP       FXI       VGK       VPL       SPY       TLT  \
Date
2008-01-02 EEM       NaN       NaN       NaN       NaN       NaN       NaN
           EWG       NaN       NaN       NaN       NaN       NaN       NaN
           TIP       NaN       NaN       NaN       NaN       NaN       NaN
           EWJ       NaN       NaN       NaN       NaN       NaN       NaN
           EFA       NaN       NaN       NaN       NaN       NaN       NaN
...                  ...       ...       ...       ...       ...       ...
2016-07-01 SPY  0.878263  0.855277  0.870153  0.831217  1.000000 -0.709302
           TLT -0.686737 -0.624556 -0.676954 -0.670492 -0.709302  1.000000
           BND -0.481389 -0.469663 -0.521927 -0.474602 -0.564949  0.892612
           CSJ  0.059068 -0.078677 -0.063969  0.000218 -0.079371  0.226076
           DIA  0.885873  0.838206  0.888726  0.835594  0.983328 -0.708094

                     BND       CSJ       DIA
Date
2008-01-02 EEM       NaN       NaN       NaN
           EWG       NaN       NaN       NaN
           TIP       NaN       NaN       NaN
           EWJ       NaN       NaN       NaN
           EFA       NaN       NaN       NaN
...                  ...       ...       ...
2016-07-01 SPY -0.564949 -0.079371  0.983328
           TLT  0.892612  0.226076 -0.708094
           BND  1.000000  0.521717 -0.549913
           CSJ  0.521717  1.000000 -0.083520
           DIA -0.549913 -0.083520  1.000000

[49243 rows x 23 columns]

In [33]:
stock_prices[['EEM','EWG']].rolling(30).corr()

                     EEM       EWG
Date
2008-01-02 EEM       NaN       NaN
           EWG       NaN       NaN
2008-01-03 EEM       NaN       NaN
           EWG       NaN       NaN
2008-01-04 EEM       NaN       NaN
...                  ...       ...
2016-06-29 EWG  0.432210  1.000000
2016-06-30 EEM  1.000000  0.374915
           EWG  0.374915  1.000000
2016-07-01 EEM  1.000000  0.306130
           EWG  0.306130  1.000000

[4282 rows x 2 columns]

In [ ]:
|